.Navbar {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar .BlogLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: #1f2a4b;
  font-weight: 600;
}

.Navbar .BlogLogo svg {
  margin-right: 1rem;
}

.Navbar nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .Navbar {
    padding: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .Navbar {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 639px) {
  .Navbar {
    padding: 1.25rem;
  }
}

.Hamburger {
  cursor: pointer;
}

.Hamburger .Line1,
.Hamburger .Line2,
.Hamburger .Line3 {
  height: 2px;
  background-color: #222020;
  margin: 0.5rem 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.Hamburger .Line1 {
  width: 30px;
}

.Hamburger .Line2 {
  width: 18px;
}

.Hamburger .Line3 {
  width: 24px;
}

.Hamburger:hover .Line2 {
  width: 30px;
}

.Hamburger:hover .Line3 {
  width: 30px;
}
